$color-white:#ffffff;
$color-athens-gray:#F8F8FA;
$color-grey:#7D7D7D;
$color-light-grey:#909090;
$color-dark-blue:#001E41;
$color-blue:#5D78FF;
$color-light-blue:#E2F2FF;
$color-solitude:#E3EEFF;

$font-main:'Roboto',
sans-serif;
$font-source:'Source Sans Pro';