.button {
    font-family: $font-source, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    cursor: pointer;

    &:hover {
        animation: scale 1s infinite forwards;
    }

    &__sing-in {
        background: transparent;
        color: $color-blue;
        margin-right: 40px;
    }

    &__blue {
        background: $color-blue;
        color: $color-white;
        padding: 6px 24px;
        border-radius: 8px;
    }
}

.form {
    &__button {
        cursor: pointer;
        font-family: $font-main, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        background: #AED1FF;
        color: $color-white;
        border-radius: 8px;
        padding: 12px 27px;
        width: 153px;

        &_submit {
            background: $color-blue;
        }
    }
}

@media (max-width:599px) {
    .form {
        &__button {
            font-size: 12px;
            line-height: 13px;
            border-radius: 8px;
            padding: 9px 20px;
            width: 115px;
        }
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}